
.BotAnswer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.BotAnswer > div:first-child {
    overflow-x: visible!important;
    flex-grow: 1;
}

.BotAnswer-Table.p-datatable {
    font-size: 10pt;
}
