
.BotAnswer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.BotAnswer > div:first-child {
    overflow-x: visible!important;
}

.BotAnswer-Panel {
    font-family: var(--monospace-font-family);
    font-size: var(--monospace-font-size);
}

.BotAnswer-Table.p-datatable {
    font-size: 10pt;
}

.BotAnswer-Spacer {
    flex-grow: 1;
}
