
.MainLayout {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.MainLayout-Left, .MainLayout-Middle, .MainLayout-Right {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.MainLayout-Middle {
    width: 50%;
}

.MainLayout-LeftButtonsBlock, .MainLayout-RightButtonsBlock {
    height: 70px;
    padding: 10px;
    display: flex;
}

.MainLayout-SchemaBlock, .MainLayout-AnswerBlock {
    overflow-y: auto;
    flex-grow: 1;
}

.MainLayout-TaskBlock {
    display: flex;
    flex-direction: column;
}

.MainLayout-TaskBBlock{
    height: 100%;
    background-color: red;
    display: flex;
}

.MainLayout-CodeBlock {

}
