
.CodeEditor {
    height: 100%;
    overflow-y: auto;
}

.CodeEditor-Editor {
    height: 100%;
    background: var(--surface-ground);
    font-family: var(--monospace-font-family);
    font-size: var(--monospace-font-size);
}
