
.TaskPanel {
    width: 100%;
    height: 130px;
    background-color: #0A1F32;
    border-radius: 5px;
}

.TaskPanel .p-scrollpanel-wrapper {
    margin-top: 5px;
    width: calc(100% - 0px);
    height: calc(100% - 10px);
}

.TaskPanel .p-scrollpanel-content {
    padding-top: 5px;
    padding-left: 10px;
    overflow-x: hidden;
    white-space: normal;
    word-break: break-all;
}
