
.TaskSelector {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.TaskSelector-Contest {
    min-width: calc(50% - 5px);
    flex-grow: 1;
}

.TaskSelector-Task {
    max-width: calc(50% - 5px);
    margin-left: 10px;
}
