
.Schema {
    height: 100%;
}

.Schema-CodeWrapper.p-tabview-panel {
    margin: -1.25rem;
}

.Schema-CodeWrapper > div {
    height: 100%;
}

.Schema-Code {
    font-family: var(--monospace-font-family);
    font-size: var(--monospace-font-size);
}

.Schema-Code span:after {
    content: '\00200B';
}
