
.Schema-TabPanel{
    width: 50%;
}

.Schema {
    height: 100%;
}

.Schema > div {
    height: 100%;
}

.Schema-Panel {
    font-family: var(--monospace-font-family);
    font-size: var(--monospace-font-size);
}

.Schema-Panel span:after {
    content: '\00200B';
}
